.hero--compact > .container > div {
    min-height: 600px !important;

}

.background-container img {
    object-fit: cover;
}

.ratio-4-3 {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
}

.ratio-16-10 {
    aspect-ratio: 16/10;
    object-fit: cover;
    width: 100%;
}
